{% block tabs %}
	<div><a href="{% url project-detail slug=project.name_short %}">&laquo; Back to {{project.name_long}}</a></div>

	<ul class="tabs-navigation flora">
		<li><a href="#create-issue"><span>Create Issue</span></a></li>
	</ul>
{% endblock tabs %}

{% block main_content %}
	<div id="create-issue">
	    {{fail}}
        <form id="issue-submit" action="{% url issue-create slug=project.project_id %}" method="post">
            <table>{{form.as_table}}</table>
            <input type="submit">
        </form>
	</div>
{% endblock %}
