{% block main_content %}
	<div id="profile-details">
		<dl>
			<dt>Biography</dt>
			<dd>{{member.member_bio}}</dd>
			<dt>Homepage</dt>
			<dd><a href="{{member.member_homepage}}">{{member.member_homepage}}</a></dd>
		</dl>
	</div>

	<div id="profile-projects">
	    <h3>Project that you manage locally</h3>
		<table>
			<thead>
				<tr>
					<th>Project Name</th>
					<th># Repos</th>
					<th># Members</th>
					<th># Waiting Members</th>
				</tr>
			</thead>
			<tbody>
				{% for project in user_projects_owns %}
					<tr>
						<td><a href="{{project.get_absolute_url}}">{{project.name_long}}</a></td>
						<td>{{project.num_repos}}</td>
						<td>{{project.members.count}}</td>
						<td>{{project.aspiring_members.count}}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	
	<div id="profile-issues">
		<h3>Issues assigned to you</h3>
	</div>
	
	<div id="profile-actions">
		
	</div>
{% endblock %}