{% extends "base.html" %}
{% block title %}Sign up{% endblock %}

{% block main_content %}
<div class="registration-form">
	<form action="." method="POST">
		<fieldset>
			<legend>Registration Details</legend>
		<div class="module aligned">
    	<div class="form-row">
      		{% if form.username.errors %}{{ form.username.errors.as_ul }}{% endif %}
      		{{ form.username.label_tag }}
      		<div class="form-field">
        		{{ form.username }}
      		</div>
    	</div>
    	<div class="form-row">
      		{% if form.email.errors %}{{ form.email.errors.as_ul }}{% endif %}
      		{{ form.email.label_tag }}
      		<div class="form-field">
        		{{ form.email }}
      		</div>
    	</div>
    	<div class="form-row">
      		{% if form.password1.errors %}{{ form.password1.errors.as_ul }}{% endif %}
      		{{ form.password1.label_tag }}
      		<div class="form-field">
        		{{ form.password1 }}
      		</div>
    	</div>
    	<div class="form-row">
      		{% if form.password2.errors %}{{ form.password2.errors.as_ul }}{% endif %}
      		{{ form.password2.label_tag }}
      		<div class="form-field">
        		{{ form.password2 }}
      		</div>
    	</div>
  	</div>
  	<div class="buttons"><input type="submit" value="Register"></div>
	</fieldset>
	</form>
</div>
{% endblock %}