{% extends "base.html" %}
{% load core_templatetags %}

{% block title %}{{block.super}} {{user}}'s Home{% endblock %}

{% block content_title %}{{user}}'s Home{% endblock %}
{% block breadcrumbs %}{{user}}'s Home{% endblock %}

{% block main_content %}

    <h3>Project that belong to you</h3>
	{% for project in user_projects_owns %}
    <dl id="project-details">
        <dt>Project Name</dt>
        <dd>{{project.name_long}}</dd>
        <dt>Project Owner</dt>
        <dd><a href="{{project.user_owner.get_absolute_url}}">{{project.user_owner}}</a></dd>
        <dt>Project Description</dt>
        <dd>{{project.description_long}}</dd>
    </dl>
 	{% endfor %}
{% endblock %}
