{% extends "base.html" %}
{% block title %}Sign up{% endblock %}

{% block main_content %}

<script type="text/javascript" src="/hgfront/static/js/jquery.pstrength.js"></script>
<script type="text/javascript">
	$(document).ready(function(){
		$('#id_member_password').pstrength();
	});
</script>

<div class="registration-form">
	<form action="." method="POST">
		<fieldset>
			<legend>Registration Details</legend>
		<div class="module aligned">
    	<div class="form-row">
      		{% if form.member_username.errors %}{{ form.member_username.errors.as_ul }}{% endif %}
      		{{ form.member_username.label_tag }}
      		<div class="form-field">
        		{{ form.member_username }}
      		</div>
    	</div>
    	<div class="form-row">
      		{% if form.member_email.errors %}{{ form.member_email.errors.as_ul }}{% endif %}
      		{{ form.member_email.label_tag }}
      		<div class="form-field">
        		{{ form.member_email }}
      		</div>
    	</div>
    	<div class="form-row">
      		{% if form.member_password.errors %}{{ form.member_password.errors.as_ul }}{% endif %}
      		{{ form.member_password.label_tag }}
      		<div class="form-field">
        		{{ form.member_password }}
      		</div>
    	</div>
    	<div class="form-row">
      		{% if form.member_verify_password.errors %}{{ form.member_verify_password.errors.as_ul }}{% endif %}
      		{{ form.member_verify_password.label_tag }}
      		<div class="form-field">
        		{{ form.member_verify_password }}
      		</div>
    	</div>
		<div class="form-row">
      		{% if form.member_real_name.errors %}{{ form.member_real_name.errors.as_ul }}{% endif %}
      		{{ form.member_real_name.label_tag }}
      		<div class="form-field">
        		{{ form.member_real_name }}
      		</div>
    	</div>
  	</div>
  	<div class="buttons"><input type="submit" value="Register"></div>
	</fieldset>
	</form>
</div>
{% endblock %}