{% block tabs %}
	<div><a href="{% url project-detail slug=project.name_short %}">&laquo; Back to {{project.name_long}}</a></div>

	<ul class="tabs-navigation flora">
		<li><a href="#issue-details"><span>Details</span></a></li>
		<li><a href="#issue-comments"><span>Comments</span></a></li>
		<li><a href="#issue-actions"><span>Actions</span></a></li>
	</ul>
{% endblock tabs %}

{% block main_content %}

	<div id="issue-details">
		<dl>
			<dt>Author</dt>
			<dd>{{issue.user_posted.username}}</dd>
   			<dt>Severity</dt>
			<dd>{{issue.issue_sev.title}}</dd>
			<dt>Type</dt>
			<dd>{{issue.issue_type.title}}</dd>
			<dt>Status</dt>
			<dd>{{issue.issue_status.title}}</dd>
			<dt>Details</dt>
			<dd><p>{{issue.body}}</p></dd>
		</dl>	
	</div>

    <div id="issue-comments">
    	None
    </div>
	
	<div id="issue-actions">
		{% if permissions.edit_issues %}
			<a href="{% url issue-edit slug=project.name_short, issue_id=issue.id %}">Edit this issue</a>
		{% endif %}
	    <form method="post" action="{% url issue-edit slug=project.name_short, issue_id=issue.id %}">
	        <input type="hidden" name="toggling_completed" value="1" />
	        <input type="submit" value="{{issue.completed|yesno:"Re-open,Mark as completed"}}" />
	    </form>	
	</div>
{% endblock main_content %}
