{% extends "project/project_detail.html" %}

{% block title %}{{repo.name_long}} : Details{% endblock %}
{% block breadcrumbs %}{{block.super}}<li>Details of {{repo.name_long}}</li>{% endblock %}

{% block content_title %}{{repo.name_long}}{% endblock %}

{% block main_content %}
<h3>Tip Details</h3>
<dl>
    <dt>Changeset ID</dt>
    <dd>
        {% ifequal repo.get_changeset_number -1 %}
            No Changesets (please add and commit files).
        {% else %}
            {{repo.get_changeset_number}} - {{repo.get_changeset}}
        {% endifequal %}
    </dd>
    <dt>Changeset Parent</td>
    <dd>
        {% ifequal changset_parent "None" %}
            {{changset_parent}}
        {% else %}
            <a href="/hgfront/projects/{{project.name_short}}/repos/{{repo.name_short}}/changeset/{{changset_parent}}/">{{changset_parent}}</a>
        {% endifequal %}
    </dd>
    <dt>Changeset Child</td>
    <dd>
        {% ifequal changset_child "None" %}
            {{changset_child}}
        {% else %}
            <a href="/hgfront/projects/{{project.name_short}}/repos/{{repo.name_short}}/changeset/{{changset_child}}/">{{changset_child}}</a>
        {% endifequal %}
    </dd>
    <dt>Changeset Author</dt>
    <dd>{{changeset_user}}</dd>
    <dt>Changeset Notes</dt>
    <dd>{{changeset_notes}}</dd>
    <dt>Manifest</dt>
    <dd>
        <ul>
            {% for file in changeset_files %}
                <li>{{file}}</li>
            {% endfor %}
        </ul>
    </dd>
</dl>


<dl id="repo-branches">
    <dt>{{repo.name_long}} Branches</dt>
    {% for branch in branches %}
        <dd>{{branch}}</dd>
    {% endfor %}
</dl>

<dl id="repo-tags">
    <dt>{{repo.name_long}} Branches</dt>
    {% for tag in tags %}
        <dd>{{tag}}</dd>
    {% endfor %}
</dl>

<dl id="repo-changesets">
    <dt>{{repo.name_long}} Changesets</dt>
    {% for change in all_changesets %}
        <dd>{{change}}</dd>
    {% endfor %}
</dl>

{% endblock %}
