{% extends "project/project_detail.html" %}

{% block title %}{{repo.name_long}} : Details{% endblock %}
{% block breadcrumbs %}{{block.super}}<li><a href="{{repo.get_absolute_url}}">{{repo.name_long}}</a></li>{% endblock %}

{% block content_title %}{{repo.name_long}}{% endblock %}

{% block main_content %}
<h3>Tip Details</h3>
<dl>
    <dt>Changeset ID</dt>
    <dd>
        {% ifequal changeset_number -1 %}
            No Changesets (please add and commit files).
        {% else %}
            {{changeset_number}} - {{changeset_id}}
        {% endifequal %}
    </dd>
    {%if changeset_parents %}
        <dt>Changeset Parents</td>
        {% for changeset in changeset_parents %}
            <dd>
                <a href="{% url view-changeset slug=project.name_short,repo_name=repo.name_short,changeset=changeset %}">{{changeset}}</a>
            </dd>
        {% endfor %}
        </dt>
    {%endif%}
    {%if changeset_children %}
        <dt>Changeset Children</td>
        {% for changeset in changeset_children %}
            <dd>
                <a href="{% url view-changeset slug=project.name_short,repo_name=repo.name_short,changeset=changeset %}">{{changeset}}</a>
            </dd>
        {% endfor %}
        </dt>
    {%endif%}
    <dt>Changeset Author</dt>
    <dd>{{changeset_user}}</dd>
    <dt>Changeset Notes</dt>
    <dd>{% autoescape on %}{{changeset_notes}}{% endautoescape %}</dd>
    <dt>Manifest</dt>
    <dd>
        <ul>
            {% for file in changeset_files %}
                <li>{{file}}</li>
            {% endfor %}
        </ul>
    </dd>
</dl>


<dl id="repo-branches">
    <dt>{{repo.name_long}} Branches</dt>
    {% for branch in changeset_branches %}
        <dd>{{branch}}</dd>
    {% endfor %}
</dl>

<dl id="repo-tags">
    <dt>{{repo.name_long}} Branches</dt>
    {% for tag in changeset_tags %}
        <dd>{{tag}}</dd>
    {% endfor %}
</dl>

<dl id="repo-changesets">
    <dt>{{repo.name_long}} Changesets</dt>
    {% for change in all_changesets %}
        <dd>{{change}}</dd>
    {% endfor %}
</dl>

{% endblock %}
