{% extends "project/project_detail.html" %}

{% block title %}{{project.name_long}} : All Repositories{% endblock %}
{% block breadcrumbs %}{{block.super}}<li>Repositories for {{project.name_long}}</li>{% endblock %}

{% block content_title %}Repositories for {{project.name_long}}{% endblock %}

{% block main_content %}
{% if is_auth %}
	<ul>
		{% for repo in repos %}
			<li><a href="{{repo.get_absolute_url}}">{{repo.name_short}}</a></li>
		{% endfor %}
	</ul>
{% else %}
	<strong>You do not have permission to view this projects repositories.</strong>
{% endif %}
{% endblock %}
