{% block tabs %}
	<div><a href="{% url project-detail slug=project.name_short %}">&laquo; Back to {{project.name_long}}</a></div>

	<ul class="tabs-navigation flora">
		<li><a href="#create-repo"><span>Create Repo</span></a></li>
	</ul>
{% endblock tabs %}

{% block main_content %}
	{{fail}}
	<div id="create-repo">
	    <form id="repo-create-form" action="{% url repo-create project.name_short %}" method="post">
	        <table>{{form}}</table>
	        <input type="submit">
	    </form>
	</div>
{% endblock %}

{% block scripts %}
	{{block.super}}
	<script type="text/javascript" src="/static/js/jquery.validate.min.js"></script>
	<script type="text/javascript">
		{% include "repo/js/repo_create.js" %}
	</script>
{% endblock scripts %}