{% extends "project/project_detail.html" %}

{% block title %}{{repo.name_long}} : Details{% endblock %}
{% block breadcrumbs %}{{block.super}}<li>Details of {{repo.name_long}}</li>{% endblock %}

{% block content_title %}{{repo.name_long}}{% endblock %}

{% block main_content %}
<h3>Tip Details</h3>
<dl>
    <dt>Changeset ID</dt>
    <dd>{{changeset_number}} - {{changeset_id}}</dd>
    <dt>Changset Parent</td>
    <dd><a href="/hgfront/projects/{{project.name_short}}/repos/{{repo.name_short}}/changeset/{{changset_parent}}/">{{changset_parent}}</a></dd>
    <dt>Changeset Author</dt>
    <dd>{{changeset_user}}</dd>
    <dt>Changeset Notes</dt>
    <dd>{{changeset_notes}}</dd>
    <dt>Manifest</dt>
    <dd>
        <ul>
            {% for file in changeset_files %}
                <li>{{file}}</li>
            {% endfor %}
        </ul>
    </dd>
</dl>


<dl id="repo-branches">
    <dt>{{repo.name_long}} Branches</dt>
    {% for branch in branches %}
        <dd>{{branch}}</dd>
    {% endfor %}
</dl>

<dl id="repo-tags">
    <dt>{{repo.name_long}} Branches</dt>
    {% for tag in tags %}
        <dd>{{tag}}</dd>
    {% endfor %}
</dl>

<dl id="repo-changesets">
    <dt>{{repo.name_long}} Changesets</dt>
    {% for change in all_changesets %}
        <dd>{{change}}</dd>
    {% endfor %}
</dl>

{% endblock %}
