/*
 * Global Style Constands
 * 
 * Colours:
 * 	Main Background: #B1B18B
 * 	Inside Background: #668099
 * 	Border Colour: #AFAFCA
 * 	Font Color: #fff
 */


/* Global Styles */
body {
    background: #B1B18B;
	font: 90% Verdana,Helvetica,Arial,sans-serif;
}

/* Global Lists */
ul {
    list-style:none;
}
ul li {
    line-height: 1.3em;
    margin-bottom: 1.1em;
    border-bottom: 1px dotted #ccc;
}

/* Global Tables */
table {
    width: 99%;
}
th {
    border-bottom: 2px dotted #ccc;
}
td {
    border-bottom: 1px dotted #ccc;
}

/* Global Links */
a {
    text-decoration:none;
} 

/* Main Layout */
div#header {
	background: #668099;
	padding:10px;
}

div#header div#sitename h1 {
	color: #fff;
	font-size: 2em;
	padding-top: 25px;
}

div#header div#logo {
	background: url('images/mercurial-logo.png') no-repeat top left;
	height: 100px;
}

/* Navigation */

div#header ul {
	list-style:none;
}

div#header ul li {
    float:left;
    border:0;
    margin-right:10px;
}

div#header ul li a {
	color:#fff;
	font-weight:bold;
    font-size: 1.1em;
}

div#header ul li a:hover {
	border-bottom: 2px solid #fff;
}

/* Breadcrumbs */
div#message {
    background: #668099;
	padding:10px;
}

div#message ul {
	border: 2px solid #f00;
	padding: 10px;
	background: #fcc;
}

/* Main Area */
div#main-area {
	padding:10px;
	background: #668099;
}

/* Links */

a.home {
    background: url('images/home.png') no-repeat;
    padding: 5px 0 5px 25px;
}

.link-all-projects {
    background: url('images/projects/all.png') no-repeat;
    padding: 5px 0 5px 25px;
}

.link-create-issue {
    background: url('images/issues/add.png') no-repeat;
    padding: 5px 0 5px 25px;
}

.link-create-project {
    background: url('images/projects/add.png') no-repeat;
    padding: 5px 0 5px 25px;
}

.link-create-user {
    background: url('images/users/add.png') no-repeat;
    padding: 5px 0 5px 25px;
}

.link-create-repo {
    background: url('images/repos/add.png') no-repeat;
    padding: 5px 0 5px 25px;
}

.link-create-backup {
    background: url('images/projects/backup.png') no-repeat;
    padding: 5px 0 5px 25px;
}

.link-show-repo {
    background: url('images/repos/repo.png') no-repeat;
    padding: 5px 0 5px 25px;
}

.link-open-project {
    background: url('images/projects/open.png') no-repeat;
    padding: 5px 0 5px 25px;
}

.link-join-project {
    background: url('images/projects/join.png') no-repeat;
    padding: 5px 0 5px 25px;
}

/* Forms */

label {
    vertical-align:center;
}

.field-description {
    padding-left:15%;
    margin-top:2em;
    font-weight:bold;
    background: url('images/help.png') no-repeat 40px;
    border-top: 1px dotted #f00;
}

/* Coda Popup */
.bubbleInfo {
    position: relative;
}

.popup {
    position: absolute;
    display: none; /* keeps the popup hidden if no JS available */
	background: url('images/coda-popup.png') no-repeat center center;
	width: 250px;
	height: 187px;
}

.popup-content {
	padding: 20px 10px;
}


/* Filetypes */
.html {
	padding-left: 20px;
	background: url('images/files/html.png') no-repeat left center;
}

.css {
	padding-left: 20px;
	background: url('images/files/css.png') no-repeat left center;
}

.png, .gif, .jpeg {
	padding-left: 20px;
	background: url('images/files/image.png') no-repeat left center;
}

.python {
	padding-left: 20px;
	background: url('images/files/python.png') no-repeat left center;
}
.javascript {
	padding-left: 20px;
	background: url('images/files/javascript.png') no-repeat left center;
}