{% load i18n %}
{% comment %}
This is the root template for the entire site.

Context variables expected:
		user.is_anonymous

This has the default page title, site visual, top utility links, and bottom utility links.
{% endcomment %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title>{% block title %}{% trans "Message Queue" %}{% endblock %}</title>
{% block default_head %}<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />{% endblock %}{% block extrahead %}{% endblock %}
</head>
<body>{% block main_body %}{% endblock %}</body>
</html>

