{% extends "project/project_list.html" %}

{% block title %}{{block.super}} Create New Project{% endblock %}

{% block content_title %}Create New Project{% endblock %}
{% block breadcrumbs %}{{block.super}}<li class="project-add">&raquo; <a href="{% url project-create %}">New project</a></li>{% endblock %}

{% block main_content %}
	{{fail}}
    <form action="{% url project-create %}" method="post">
        <ul>
            <li>
                {{form.name_short.errors}}
                <label for="name_short">Project Short Name</label>
                {{form.name_short}}
                <div class="field-description">
                    Please enter the short name of your project.  This is the unique name of your project
                    and cannot be changed, so please choose carefully.
                </div>
            </li>
        </ul>
        <input type="submit" />
    </form>
{% endblock %}
