{% extends "base.html" %}
{% load core_templatetags %}

{% block title %}{{block.super}} All Projects{% endblock %}

{% block content_title %}<h2>All Projects on {{hgf_site_name}}</h2>{% endblock %}
{% block breadcrumbs %}{{block.super}}<li class="project">&raquo; <a href="{% url project-list %}">Projects</a></li>{% endblock %}

{% block main_content %}

    {% if project_news %}
        <h2>Latest News</h2>
        <dl>
            {% for item in project_news %}
                <dt>{{item.parent_project}}</dt>
                <dd class="news-item-title">{{item.news_title}}</dd>
                <dd class="news-item-pub-date">{{item.pub_date}}</dd>
                <dd class="news-item-body">{{item.news_body}}</dd>
             {% endfor %}
        </dl>
    {% endif %}


	{% if projects %}
	<ul>
		{% for project in projects %}
				<li class="bubbleInfo">
					<a class="trigger" href="{{project.get_absolute_url}}">{{project.name_long}}</a>
					<div class="popup">
						<dl>
							<dt>Project Description</dt>
							<dd>{{project.description_short|truncatewords_html:10}}</dd>
							<dt>Project Owner</dt>
							<dd><a href="{% url member-profile %}/{{project.user_owner}}/">{{project.user_owner}}</a></dd>
							<dt>Creation Date</dt>
							<dd>{{project.pub_date|date:"d M Y"}}</dd>
						</dl>
						<a href="{{project.get_absolute_url}}">Open Project</a>
 	 				</div>
				</li>
		{% endfor %}
	</ul>
	{% else %}
		<strong>There are currently no projects on the system.</strong>
	{% endif %}
{% endblock %}

{% block sidebar %}
	{% menubox "Your Options" %}
	    {% if user.is_authenticated %}
			<ul>
				<li><a href="{% url project-create project.name_short %}" class="link-create-project">Create New Project</a></li>
			</ul>
			{% endif %}
	{% endmenubox %}
{% endblock %}
