{% extends "base.html" %}

{% block title %}{{block.super}} All Projects{% endblock %}

{% block content_title %}<h2>All Projects on {{hgf_site_name}}</h2>{% endblock %}
{% block breadcrumbs %}{{block.super}} &gt; <a href="{% url project-list %}">Projects</a>{% endblock %}

{% block main_content %}
	{% if object_list %}
	<table>
	<thead>
		<tr>
			<th>Project Name</th>
			<th>Description</th>
			<th>Active Since</th>
			<th>Project Owner</th>
		</tr>
	</thead>
	<tbody>
		{% for project in object_list %}
				<tr>
					<td><a href="{{project.get_absolute_url}}">{{project.name_long}}</a></td>
					<td>{{project.description_short|truncatewords_html:10}}</td>
					<td>{{project.pub_date|date:"d M Y"}}</td>
					<td><a href="{{project.user_owner.get_absolute_url}}">{{project.user_owner}}</a></td>
				</tr>
		{% endfor %}
	</tbody>
	</table>
	{% else %}
		<strong>There are currently no projects on the system.</strong>
	{% endif %}
{% endblock %}

{% block sidebar %}
<span class="group">Your Options</span>
    {% if user.is_authenticated %}
    <ul>
        <li><a href="{% url project-create project.name_short %}">Create New Project</a></li>
    </ul>
    {% endif %}
{% endblock %}
