{% block tabs %}

	<div><a href="{% url project-list %}">&laquo; Back to Project List</a></div>

	<ul class="tabs-navigation flora">
		<li><a href="#project-details"><span>Details</span></a></li>
		<li><a href="#project-repositories"><span>Repositories</span></a></li>
		<li><a href="#project-issues"><span>Issues</span></a></li>
		<li><a href="#project-members"><span>Members</span></a></li>
		<li><a href="#project-backups"><span>Backups</span></a></li>
		<li><a href="#project-actions"><span>Actions</span></a></li>
	</ul>
{% endblock tabs %}

{% block main_content %}

	<div id="project-details">
		<h3>Project Details</h3>
	    <dl id="project-details">
    	    <dt>Project Name</dt>
	        <dd>{{project.name_long}}</dd>
	        <dt>Project Owner</dt>
	        <dd><a href="{{project.user_owner.get_absolute_url}}">{{project.user_owner}}</a></dd>
	        <dt>Project Description</dt>
	        <dd>{{project.description_long}}</dd>			
	        <dt>Project Active Since</dt>
	        <dd>{{project.pub_date|date:"D d M Y H:m"}}</dd>
	    </dl>	
	</div>
	
	<div id="project-repositories">
		{% if permissions.add_repos %} 
        	<a href="{% url repo-create project.name_short %}" class="link-create-repo">Create New Repo</a>
        {% endif %}
 
		{% with project.repo_set.select_related as repos %}
        	{% if repos %}
				<h2>Repositories {{project.name_long}}</h2>
				<ul>
					{% for repo in repos %}
				 		{% if repo.repo_created %}
							<li>
								<a href="{{repo.get_absolute_url}}" class="link-show-repo">{{repo.name_long}}</a>
								<div>
									<dl>
										<dt>Last Changeset ID</dt>
										<dd>
									 		{% ifequal repo.get_changeset_number -1 %}
	                                    		No Changesets (please add and commit files).
    	                           			{% else %}
	                                  				{{repo.get_changeset_number}} - {{repo.get_changeset}}
	    	                           		{% endifequal %}
										</dd>
								</div>
							</li>
						{% endif %}
	            	{% endfor %}
				</ul>
        	{% endif %}
    	{% endwith %}
	</div>
	
	<div id="project-issues">
		{% if permissions.add_issues %} 
        	<a href="{% url issue-create project.name_short %}" class="link-create-issue">Create New Issue</a>
        {% endif %}		
		<div class="issues-content">
		{% if permissions.view_issues %}
        	{% if issues %}
            	<table>
                	<thead>
                    	<caption>Recent Issues for {{project.name_long}}</caption>
	                    <tr>
    	                    <th>Title</th>
	                        <th>Created by</th>
    	                </tr>
	                </thead>
    	            <tbody>
        	            {% for issue in issues %}
	                        <tr>
    	                        <td><a href="{{issue.get_absolute_url}}">{{issue.title}}</a></td>
	                            <td><a href="{{issue.user_posted.get_absolute_url}}">{{issue.user_posted.username}}</a></td>
	                        </tr>
	                    {% endfor %}
	                </tbody>
	            </table>
	            <a href="{% url issue-list project.name_short %}">view all issues for this project</a><br/>
    	        <a href="{% url issue-list project.name_short %}?completed=no">view live issues for this project</a><br/>
	            <a href="{% url issue-list project.name_short %}?completed=yes">view completed issues for this project</a>
	        {% else %}
    	        <h4>This project has no issues, yay!</h4>
	        {% endif %}
        {% else %}
            <h4>You can't view the issues, man!</h4>
        {% endif %}	
		</div>
	</div>
    
	<div id="project-members">
	    {% with project.members as members %}
    	    <dl id="project-members">
        	    <dt>Project Members</dt>
            	{% for member in members %}
                	<dd><a href="{{member.get_absolute_url}}">{{member.username}}</a></dd>
	            {% endfor %}
    	    </dl>
	    {% endwith %}
    
	    {% if user_can_request_to_join %} 
	        <form method="post" action="{% url project-join-project slug=project.name_short %}">
	            If you want to join this project, click on this button!
	            <input type="submit" value="Join" />
	        </form>
    	{% endif %}
		
		{% with project.aspiring_members as aspiring_members %}
        {% if permissions.add_members and aspiring_members %}
            <span class="group">Join requests</span>
            <p>These people want to join {{project.name_long}}!</p>
            <ul>
                {% for member in aspiring_members %}
                <li>
                    <a href="{{member.get_absolute_url}}">{{member.username}}</a>
                    <form method="post" action="{% url project-process-join-request slug=project.name_short %}" style="float:left">
                        <input type="hidden" name="username" value="{{member.username}}" />
                        <input type="hidden" name="action" value="accept" />
                        <input type="submit" value="approve" />
                    </form>
                    <form method="post" action="{% url project-process-join-request slug=project.name_short %}" style="float:left;">
                        <input type="hidden" name="username" value="{{member.username}}" />
                        <input type="hidden" name="action" value="deny" />
                        <input type="submit" value="deny" />
                    </form>
                    <div style="clear:both"></div>
                </li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
	
    {% with project.invited_members as invited_members %}
        {% if permissions.add_members and invited_members %}
            <span class="group">Invited users</span>
            <p>You have invited these guys to join {{project.name_long}}</p>
            <ul>
                {% for member in invited_members %}
                    <li><a href="{{member.get_absolute_url}}">{{member.username}}</a></li>
                {% endfor %}
            </ul>
        {% endif %}
		{% endwith %}
	</div>
    
	<div id="project-backups">
        {% if permissions.add_repos %} 
        	<a href="{% url create-backup project.name_short %}" class="link-create-backup">Backup Project</a>
        {% endif %}

	    {% if backups %}
	        <table>
	            <thead>
	                <caption>Backups of {{project.name_long}}</caption>
	                <tr>
	                    <th>Creation Date</th>
	                    <th>Format</th>
	                </tr>
	            </thead>
	            <tbody>
	                {% for backup in backups %}
	                    <tr>
	                        <td>{{backup.created|date:"D d M Y H:m"}}</td>
	                        <td>{{backup.format}}</td>
	                     </tr>
	                 {% endfor %}
	             </tbody>
	         </table>
	     {% endif %}
    </div>
	
	<div id="project-actions">

	</div>
{% endblock %}