{% extends "base.html" %}

{% block content_title %}<h2>{{project.longname}}</h2>{% endblock %}

{% block main_content %}
	{% ifequal project.is_private 0 %}
	<div class="project-details">
		<p>
			<strong>Project Description</strong>:
			{{project.description}}
		</p>
		<p>
			<strong>Project Owner</strong>:
			{{project.user}}
		</p>
	</div>
	
	<div class="repo-list">
		<p>
			<strong>Project Repositories</strong>
		</p>
		<ul>
			{% for repo in repos %}
				<li>{{repo.name}}</li>
			{% endfor %}
		</ul>
	</div>
	{% else %}
		<div class="error">
			<h2>This project is private, and cannot be viewed except for project members</h2>
		</div>
	{% endifequal %}
{% endblock %}