{% extends "project/project_list.html" %}

{% block title %}{{block.super}} Project details for {{project.name_long}} ({{project.name_short}}){% endblock %}

{% block content_title %}Project Details{% endblock %}
{% block breadcrumbs %}{{block.super}}<li class="project">&raquo; <a href="{{project.get_absolute_url}}">{{project.name_long}}</a></li>{% endblock %}

{% block main_content %}
        <table>
            <thead>
                <caption>Project Details for {{project.name_long}}</caption>
            </thead>
            <tbody>
                <tr>
                    <td>Project Description</td>
                    <td>{{project.description_long}}</td>
                </tr>
                <tr>
                    <td>Project Owner</td>
                    <td><a href="{{project.user_owner.get_absolute_url}}">{{project.user_owner}}</a></td>
                </tr>
                <tr>
                    <td>Project Members</td>
                    <td>
                    {% with project.members as members %}
                        {% if members %}
                            <ul>
                                {% for member in members %}
                                    <li><a href="{{member.get_absolute_url}}">{{member.username}}</a></li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            This project has no additional members
                        {% endif %}                    
                    {% endwith %}
                    </td>
            </tbody>
        </table>
	    
        {% if permissions.view_issues %}
            {% if issues %}
                <table>
                    <thead>
                        <caption>Recent Issues for {{project.name_long}}</caption>
                        <tr>
                            <th>Title</th>
                            <th>Created by</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for issue in issues %}
                            <tr>
                                <td><a href="{{issue.get_absolute_url}}">{{issue.title}}</a></td>
                                <td><a href="{{issue.user_posted.get_absolute_url}}">{{issue.user_posted.username}}</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <a href="{% url issue-list project.name_short %}">view all issues for this project</a>
            {% else %}
                <h4>This project has no issues, yay!</h4>
            {% endif %}
        {% else %}
            <h4>You can't view the issues, man!</h4>
        {% endif %}
{% endblock %}

{% block sidebar %}
    {% with project.repo_set.select_related as repos %}
        {% if repos %}
            <span class="group">Project Repositories</span>
            <ul>
            {% for repo in repos %}
                <li><a href="{{repo.get_absolute_url}}" class="link-show-repo">{{repo.repo_name}}</a></li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
	<span class="group">Your Options for {{project.name_long}}</span>
		<ul>
			{% if permissions.add_repos %} 
        		<li><a href="{% url repo-create project.name_short %}" class="link-create-repo">Create New Repo</a></li>
    		{% endif %}
			{% if permissions.add_issues %} 
        		<li><a href="{% url issue-create project.name_short %}" class="link-create-issue">Create New Issue</a></li>
    		{% endif %}
        </ul>
{% endblock %}
