{% block main_content %}
	<div id="project-list">
		{% if projects %}
			<ul>
				{% for project in projects %}
					<li>
						<a href="{{project.get_absolute_url}}"><span>{{project.name_long}}</span></a>
					</li>
				{% endfor %}
			</ul>
		{% else %}
			<strong>There are currently no projects on the system.</strong>
		{% endif %}
	</div>
	
	<div id="project-list-news">
    {% if project_news %}
        <h2>Latest News</h2>
        <dl>
            {% for item in project_news %}
                <dt>{{item.parent_project}}</dt>
                <dd class="news-item-title">{{item.news_title}}</dd>
                <dd class="news-item-pub-date">{{item.pub_date}}</dd>
                <dd class="news-item-body">{{item.news_body}}</dd>
             {% endfor %}
        </dl>
    {% endif %}
	</div>
{% endblock %}