{% extends "base.html" %}

{% block content_title %}Project Details{% endblock %}

{% block main_content %}
	{% ifequal project.is_private 0 %}
	<dl class="project-details">
		<dt>
			{{project.longname}}
		</dt>
		<dd>
			<strong>Project Description:</strong><br />
			{{project.description}}
		</dd>
		<dd>
			<strong>Project Owner:</strong><br />
			<a href="{{project.user_owner.get_absolute_url}}">{{project.user_owner}}</a>
		</dd>
	</dl>
	{% else %}
		<div class="error">
			<h2>This project is private, and cannot be viewed except for project members</h2>
		</div>
	{% endifequal %}
{% endblock %}
