{% extends "base.html" %}
{% load core_templatetags %}

{% block title %}{{block.super}} {{view_title}}{% endblock %}

{% block breadcrumbs %}{{block.super}}<li class="project">&raquo; <a href="{% url project-list %}">{{view_title}}</a></li>{% endblock %}

{% block main_content %}
	{% include "project/project_list_ajax.html" %}
{% endblock %}

{% block sidebar %}
	{% menubox "Your Options" %}
	    {% if user.is_authenticated %}
			<ul>
				<li><a href="{% url project-create project.name_short %}" class="link-create-project">Create New Project</a></li>
			</ul>
			{% endif %}
	{% endmenubox %}
{% endblock %}
