{% extends "project/project_create.html" %}

{% block title %}{{block.super}} Create New Project : Step 2{% endblock %}

{% block content_title %}Create New Project{% endblock %}
{% block breadcrumbs %}{{block.super}}<li class="project-add">&raquo; <a href="{% url project-create %}">Step 2</a></li>{% endblock %}

{% block main_content %}
	{{fail}}
    <form action="{% url project-create %}" method="post">
        <ul>
            <li>
                {{form.name_short.errors}}
                <label for="name_short">Project Short Name</label>
                {{form.name_short}}
                <div class="field-description">
                    Please enter the short name of your project.  This is the unique name of your project
                    and cannot be changed, so please choose carefully.
                </div>
            </li>
            <li>
                {{form.name_long.errors}}
                <label for="name_long">Project Name</label>
                {{form.name_long}}
                <div class="field-description">
                    Please enter the name of your project.  This is the decriptive name for your project.
                </div>
            </li>
            <li>
                {{form.description_short.errors}}
                <label for="description_short">Project Short Description</label>
                {{form.description_short}}
                <div class="field-description">
                    Please enter a short description of your project (255 char max).
                </div>
            </li>
            <li>
                {{form.description_long.errors}}
                <label for="description_long">Project Long Description</label>
                {{form.description_long}}
                <div class="field-description">
                    Please enter a full description of your project.  This field accepts BBCode.
                </div>
            </li>
            <li>
                {{form.hgweb_style.errors}}
                <label for="hgweb_style">hgweb Style</label>
                {{form.hgweb_style}}
                <div class="field-description">
                    Please select which web styling you would like as the default for your repositories (these can be overidden later).
                </div>
            </li>
        </ul>
        <input type="submit" />
    </form>
{% endblock %}
