{% extends "wiki/page.html" %}
{% load wikilink %}


{% block title %}Changes for {{page}}{% endblock %}

{% block breadcrumbs %}{{block.super}} <li class="wikipage">&raquo; Changes for {{page}}</li>{% endblock %}

{% block content_title %}<h2>Changes for {{page|escape}}</h2>{% endblock %}
{% block main_content %}
    <ol>
        {% for change in changesets %}
            <li>{{change.change_message}}</li>
        {% endfor %}
    </ol>
    
    <ul>
        <li><a href="/hgfront/projects/{{project.name_short}}/wiki/{{page.name}}/edit/">Edit this page?</a></li>
        <li><a href="/hgfront/projects/{{project.name_short}}/wiki/Main_Page/">Back to Main_Page</a></li>
    </ul>
{% endblock %}

{% block sidebar %}

{% endblock %}
