{% extends "base.html" %}
{% load wikilink %}


{% block title %}{{formatted_page_name}}{% endblock %}

{% block content_title %}<h2>{{formatted_page_name|escape}}</h2>{% endblock %}
{% block main_content %}

    {% autoescape off %} {{content|wikify}} {% endautoescape %}
    
    <ul>
        <li><a href="/hgfront/projects/{{project}}/wiki/{{page_name}}/edit/">Edit this page?</a></li>
        <li><a href="/hgfront/projects/{{project}}/wiki/Main_Page/">Back to Main_Page</a></li>
    </ul>
{% endblock %}

{% block sidebar %}
    <h3>Wiki Changesets</h3>
    <ul>
        {% for change in changesets %}
            <li>{{change.id}} - {{change.change_message}}</li>
        {% endfor %}
    </ul>
{% endblock %}
