{% block tabs %}

	<ul class="tabs-navigation flora">
		<li><a href="#project-list"><span>Project List</span></a></li>
		<li><a href="#project-list-news"><span>Project News</span></a></li>
		{% if hgf_logged_in_user %}
			<li><a href="{% url project-create project.name_short %}"><span>Create New Project</span></a></li>
		{% endif %}
	</ul>

{% endblock tabs %}

{% block main_content %}
	{% load core_templatetags %}
	<div id="project-list">
		{% if projects %}
			<table id="project-list-table" class="tablesorter">
				<thead>
					<tr>
						<th>Name</th>
						<th>Description</th>
						<th>Active Since</th>
						<th>Last Update</th>
						<th>Total Size</th>
						<th>No. of Repos</th>
						<th>No. of Members</th>
					</tr>
				</thead>
				<tbody>
				{% for project in projects %}
					<tr>
						<td><a href="{{project.get_absolute_url}}"><span>{{project.project_name}}</span></a></td>
						<td>{{project.short_description}}</td>
						<td>{{project.created_date|date:"D d M Y"}}</td>
						<td>{{project.modified_date|date:"D d M Y - H:i"}}</td>
						<td>{{project.total_size|filesizeformat}}</td>
						<td>{{project.number_of_repos}}</td>
						<td>{{project.number_of_members}}</td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
			<div id="pager" class="pager">
				<form>
					<img src="/static/images/first.png" class="first"/>
					<img src="/static/images/prev.png" class="prev"/>
					<input type="text" class="pagedisplay"/>
					<img src="/static/images/next.png" class="next"/>
					<img src="/static/images/last.png" class="last"/>
					<select class="pagesize">
						<option selected="selected"  value="10">10</option>
						<option value="20">20</option>
						<option value="30">30</option>
						<option  value="40">40</option>
					</select>
				</form>
			</div>
			<br style="clear:both" />
		{% else %}
			<strong>There are currently no projects on the system.</strong>
		{% endif %}
	</div>
	
	<div id="project-list-news">
    {% if project_news %}
        <h2>Latest News</h2>
        <dl>
            {% for item in project_news %}
                <dt>{{item.parent_project}}</dt>
                <dd class="news-item-title">{{item.news_title}}</dd>
                <dd class="news-item-pub-date">{{item.pub_date}}</dd>
                <dd class="news-item-body">{{item.news_body}}</dd>
             {% endfor %}
        </dl>
    {% endif %}
	</div>
{% endblock %}

{% block scripts %}
	{{block.super}}
	<script type="text/javascript" src="/static/js/jquery.tablesorter.min.js"></script>
	<script type="text/javascript" src="/static/js/jquery.tablesorter.pager.js"></script>
	<script type="text/javascript">
		{% include "project/js/project_list.js" %}
	</script>
{% endblock scripts %}