{% block tabs %}
	<div><a href="{% url project-detail slug=project.project_id %}">&laquo; Back to {{project.project_name}}</a></div>

	<ul class="tabs-navigation flora">
		<li><a href="#repo-changeset"><span>Changeset</span></a></li>
		<li><a href="#repo-manifest"><span>Manifest</span></a></li>
		<li><a href="#repo-branches"><span>Branches</span></a></li>
		<li><a href="#repo-tags"><span>Tags</span></a></li>
		<li><a href="#repo-actions"><span>Actions</span></a></li>
	</ul>
{% endblock tabs %}


{% block main_content %}
	{% load core_templatetags %}

	<div id="repo-changeset">
		
		<h3>Repository Overview</h3>
		<dl>
			<dt>Last Update Time</dt>
			<dd>{{repo.last_update|date:"D d M Y, H:i:s"}} ({{repo.time_ago}})</dd>
			<dt>Repo Size (Mb)</dt>
			<dd>{{ repo.folder_size|megs|floatformat:2 }}</dd>
		</dl>
		
		<h3>Changeset</h3>
		<dl>
		    <dt>Changeset ID</dt>
		    <dd>
		        {% ifequal changeset_number -1 %}
		            No Changesets (please add and commit files).
		        {% else %}
		            {{changeset_number}} - {{changeset_id}}
		        {% endifequal %}
		    </dd>
		    {%if changeset_parents %}
		        <dt>Changeset Parents</dt>
		        {% for changeset in changeset_parents %}
		            <dd>
		                <a href="{% url view-changeset slug=project.project_id,repo_name=repo.directory_name,changeset=changeset %}">{{changeset}}</a>
		            </dd>
		        {% endfor %}
				</dt>
		    {%endif%}
		    {%if changeset_children %}
		        <dt>Changeset Children</td>
		        {% for changeset in changeset_children %}
		            <dd>
		                <a href="{% url view-changeset slug=project.name_short,repo_name=repo.directory_name,changeset=changeset %}">{{changeset}}</a>
		            </dd>
		        {% endfor %}
		        </dt>
		    {%endif%}
		    <dt>Changeset Author</dt>
		    <dd>{{changeset_user}}</dd>
		    <dt>Changeset Notes</dt>
		    <dd>{% autoescape on %}{{changeset_notes}}{% endautoescape %}</dd>
		</dl>
	</div>
	
	<div id="repo-manifest">
		<h3>Manifest</h3>
	   	<ul>
	   		{% load core_templatetags %}
	    	{% for file in changeset_files %}
	        	<li class="{{file|filetype}}">{{file}}</li>
		    {% endfor %}
		 </ul>
	</div>

	<div id="repo-branches">
    	<h3>{{repo.display_name}} Branches</h3>
		<ul>
    		{% for branch in changeset_branches %}
        		<li>{{branch}}</li>
    		{% endfor %}
		</ul>
	</div>
	
	<div id="repo-tags">
	    <h3>{{repo.display_name}} Tags</h3>
		<ul>
	    	{% for tag in changeset_tags %}
	        	<li>{{tag}}</li>
	    	{% endfor %}
		</ul>
	</div>
	
	<div id="repo-actions">
		<ul>
			<li><a href="{% url repo-pull-request repo.directory_name %}"><span>Pull & Update</span></a></li>
		</ul>
	</div>

{% endblock %}