<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<title>{% block title %}hgfront{% endblock %}</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<style type="text/css">
@import url('/hgfront/static/hgfront-style.css');
</style>
</head>
<body>
    {% load cache %}
    <div id="header">hgfront</div>
    <div id="breadcrumbs">breadcrumbs &gt; go &gt; here</div>
    <div id="wrapper">
        <div id="content">
            <h1>{% block content_title %}Content title{% endblock content_title %}</h1>
            {% block main_content %}{% endblock main_content %}
        </div>
        <div id="sidebar">
            {# if we're on a project, display its members #}
            {% if project.user_members.all %}
                <span class="group">Members</span>
                <ul>
                    {% for member in project.user_members.all %}
                        <li><a href="{{member.get_absolute_url}}">{{member.username}}</a></li>
                    {% endfor %}
                </ul>
            {% endif %}
            
            {#if we're on a project, display its repos #}
            {% if project.repo_set.all %}
                <span class="group">Repositories</span>
                <ul>
                    {% for repo in project.repo_set.all %}
                        <li><a href="{{repo.get_absolute_url}}">{{repo.name}}</a></li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        <div class="clear"></div>
    </div>
</body>
</html>
