<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>{% block title %}{{hgf_site_name}}{% endblock %}</title>
    <link rel="stylesheet" href="/hgfront/static/blueprint/screen.css" type="text/css" media="screen, projection">
    <link rel="stylesheet" href="/hgfront/static/blueprint/print.css" type="text/css" media="print">    
    <!--[if IE]>
        <link rel="stylesheet" href="/hgfront/static/blueprint/ie.css" type="text/css" media="screen, projection">
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="/hgfront/static/style.css" />
    <script type="text/javascript" src="/hgfront/static/js/jquery.js"></script>
    <script type="text/javascript" src="/hgfront/static/js/hgfront.js"></script>
</head>

<body>
    <div class="container">
    
        <div class="span-24" id="toolbar">
            <span class="userbar">
                {% if hgf_logged_in_user %}
                    {{hgf_logged_in_user}} (<a href="/hgfront/logout/">Logout</a>)
                {% else %}
                    <a href="/hgfront/login/">Login</a> / <a href="/hgfront/registration/register/" class="link-create-user">Register</a>
                {% endif %}
            </span>
            
            <ul class="toolbar-buttons">
                <li><a href="{% url project-create project.name_short %}" class="link-create-project">Create New Project</a></li>
            </ul>
            <br style="clear:both;" />
        </div>

    
        <div class="span-24" id="header">
                <h1>{{hgf_site_name}}</h1>
        </div>
        
        <div class="span-24" id="breadcrumbs">
            <ul>
                {% block breadcrumbs %}
                    <li class="home"><a href="/hgfront/projects/">Home</a></li>            
                {% endblock breadcrumbs %}
            </ul>
        </div>
        
        {% if messages %}
            {% for message in messages %}
                <div class="span-24" id="message">
                    {{message}}
                </div>
            {% endfor %}
        {% endif %}
        
        <div class="span-16" id="content">
            <h2>{% block content_title %}Content title{% endblock content_title %}</h2>
            {% block main_content %}{% endblock main_content %}
        </div>
        
        <div class="span-8 last" id="sidebar">
             {% include "elements/search_form.html" %}
			 {% block sidebar %}
				{% include "elements/side_stats.html" %}
			 {% endblock sidebar %}
        </div>
        
        <div class="span-24" id="footer">
                {% block footer %}{% endblock footer %}
        </div>
        
    </div>
</body>
</html>
